.user-component {
   justify-content: space-between;
   margin-bottom: 15px;
}
.user-component, 
.user-component__column, 
.user-component__column a {
    display: flex;
    align-items: center;
}
.user-component__avatar {
    width: 70px;
    height: 70px;
    display: block;
    overflow: hidden;
    border-radius: 25px;
    margin-right: 15px;
}
.user-component__title {
    font-weight: 600;
    font-size: 16px;
}
.user-component__subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}
.user-component__title--not-bold {
    font-weight: 400;
}
.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.3);
}
.user-component__column:last-child span {
    margin-right: 5px;
}
.user-component__column-vertical {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}
.grogu {
    background: url("../../img/grogu.jpeg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
.mando {
    background: url("../../img/mando.jpeg");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.stormtroopers {
    background: url("../../img/stormtrooper.jpg");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.yoda {
    background: url("../../img/yoda.jpg");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.asoka {
    background: url("../../img/asoka.webp");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.luke {
    background: url("../../img/luke.png");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.vader {
    background: url("../../img/vader.jpg");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.obiwan {
    background: url("../../img/obiwan.jpg");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.r2d2 {
    background: url("../../img/r2d2.webp");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.user-component__time {
    margin-bottom: 10px;
    display: block;
}
.last-component{
    margin-bottom: 65px;
}